<?xml version="1.0"?>
<!--<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>-->
<configuration>
  <appSettings>
    <add key="SiteURL" value="http://localhost:5227/WebAagakhan/"/>
    <!--<add key="SiteURL" value="http://ak.jaiminisoftware.com/"/>-->
  </appSettings>
  <connectionStrings>
    <!--<add name="AagakhanConnectionString" connectionString="Data Source=JINAL-PC\JINAL;Initial Catalog=AagakhanTrust;User ID=sa;Password=sqlserver@123" providerName="System.Data.SqlClient"/>-->
    <!--<add name="AagakhanConnectionString" connectionString="Data Source=103.228.152.19\sqlexpress,1433;Initial Catalog=AagakhanTrust;User ID=aaga;Password=Lmte65#7" providerName="System.Data.SqlClient"/>-->
    <add name="AagakhanConnectionString" connectionString=" Data Source=JASPAL-PC\JASPAL;Initial Catalog=AagakhanTrust;Integrated Security=True" providerName="System.Data.SqlClient"/>

    <add name="Excel03ConString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Extended Properties='Excel 8.0;HDR={1}'"/>
    <add name="Excel07ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 8.0;HDR={1}'"/>
    <!--<add name="AagakhanConnectionString" connectionString="Data Source=180.150.250.60\sqlexpress,1433;Initial Catalog=AagakhanTrust;User ID=aaga;Password=Lmte65#7" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <system.web>
    <sessionState timeout="100000"/>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Net.Http, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Net.Http.WebRequest, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
        <add assembly="Microsoft.ReportViewer.Common, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" maxRequestLength="999999999"/>
    <customErrors mode="Off"/>
  </system.web>
  <system.webServer>
    <directoryBrowse enabled="false"/>
    <defaultDocument>
      <files>
        <clear/>
        <add value="Index.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="999999999"/>
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>